
<<<<<<< HEAD
//@import "./scss/theme";
//@import "variables/variables";
//@import "variables/variables-dark";
//@import "./scss/bootstrap-dark.scss";
//@import "./scss/bootstrap.scss";
//@import "./scss/chartist.scss";


=======
>>>>>>> 4a5bdd37ec6f1b622aee72be57823565cc3d9b45
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
