.accountSettingPanel {
  h2 {
    border-bottom: 2px solid #F3F3F5;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
  }

  .avatarGroup {
    display: flex;
    align-items: center;
    margin-bottom: 59px;
    margin-top: 46px;
    padding-bottom: 46px;
    border-bottom: 2px solid #F3F3F5;

    .normalButton {
      margin-left: 39px;
      margin-right: 20px;
    }
  }
  .infoInputSet {
    display: flex;
    border-bottom: 2px solid #F3F3F5;
  }

  .checkboxGroup1 {
    .checkboxGrp {
      justify-content: unset;
      .checkboxContainer {
        margin-right: 70px;
      }
    }
  }
  .newContactButton {
    button {
      margin-top: 112px;
    }
  }
}

