.addPopperContainer {
  div {
    div {
      .addTagHeader {
        display: flex;
        justify-content: space-between;

        span {
          margin-left: 0;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .logoInputContainer2 {
        .searchSVG {
          input {
            margin-bottom: 1px;
            padding-left: 50px;
          }
        }
        .requiredMessage {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .checkboxGroup2 {
        margin-left: 0;
        margin-right: 0;
        p {
          display: none;
        }
        .checkboxGrp {
          .checkboxContainer {
            .checkmark {
              margin-top: 5px;
            }
            .pillContainer {
              span {
                padding: 5px 22px;
              }
            }
          }
        }
      }
    }
  }
}