.blueMenu {
  width: 268px;
  height: 100%;
  padding: 29px 13px;
  background: #F8F9FB;
  border-radius: 15px;
  user-select: none;
}

.blueMenuGroup {
  padding: 0;
  display: flex;
  flex-flow: column;
  list-style: none;
}

.blueMenuDropdownGroup {
  position: static;

  .blueMenuLink {
    line-height: 42px;

    .blueLink {
      padding-left: 41px;
    }
  }
}

.clickableSpan {
  cursor: pointer;
}