.blueMenuLink {
  padding: 11.5px 23px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
.blueMenuLink:hover {
  background: #bedcf5;
  color: #2198FA;
}

.blueMenuLinkActive {
  background: #bedcf5;
  color: #2198FA;
}