.card_channel_layout {
  width: 28vw;
  height: 100%;
  min-width: 300px;
  padding-left: 0px;
  margin-right: 45px;

  .card_channel {
    padding: 27px 31px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 34px;

    .connect_group {
      display: flex;
      justify-content: space-between;

      .tickSVG {
        position: relative;
        margin-bottom: 5%;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #00000029;
        button {
          font-size: 16px;
          font-weight: 500;
        }
      }
      .tickSVG:before {
        content: "";
        position: absolute;
        left: 1rem;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url("../../public/check_circle_outline_black_24dp.svg") center / contain no-repeat;
      }

    }
    .information_group {
      display: flex;
      flex-flow: column;
      padding-top: 1%;
      span {
        letter-spacing: 0px;
        color: #495057;
      }
      p {
        color: #AAAAAA;
      }
    }
  }
}

.lineChartCard {
  width: 268px;
  min-height: 136px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 7px 10px #0000001A;
  padding: 16px 28px 19px 23px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .lineChartCardTitle {
    font-size: 12px;
    color: #707070;
    font-weight: 500;
  }
  .contentGroup {
    display: flex;
    justify-content: space-between;
    .dataGroup {
      .number {
        font-size: 24px;
        font-width: 500;
      }
      .changingPercentagePos {
        font-size: 12px;
        font-weight: 300;
        color: #34C38F;
      }
      .changingPercentageNeg {
        font-size: 12px;
        font-weight: 300;
        color: #FC736A;
      }
    }
  }
  .onlineTime {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
  }
}

.changingPercentageCard {
  padding: 17px 13px 17px 22px;
  width: 196px;
  height: 88px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 7px 10px #0000001A;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .changingPercentageCardTitle {
    font-size: 12px;
    color: #707070;
  }
  .dataGroup {
    display: flex;
    justify-content: space-between;
    .number {
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      line-height: 1;
    }
    .changingPercentageNeg {
      font-size: 12px;
      font-weight: 300;
      color: #FC736A;
      margin-top: auto;
    }
    .changingPercentagePos {
      font-size: 12px;
      font-weight: 300;
      color: #34C38F;
      margin-top: auto;
    }
  }
}