.card_channel_layout {
  width: 28vw;
  height: 100%;
  min-width: 300px;
  padding-left: 0px;
  margin-right: 45px;

  .card_channel {
    padding: 27px 31px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 34px;

    .connect_group {
      display: flex;
      justify-content: space-between;

      .tickSVG {
        position: relative;
        margin-bottom: 5%;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #00000029;
        button {
          font-size: 16px;
          font-weight: 500;
        }
      }
      .tickSVG:before {
        content: "";
        position: absolute;
        left: 1rem;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url("../../public/check_circle_outline_black_24dp.svg") center / contain no-repeat;
      }

    }
    .information_group {
      display: flex;
      flex-flow: column;
      padding-top: 1%;
      span {
        letter-spacing: 0px;
        color: #495057;
      }
      p {
        color: #AAAAAA;
      }
    }
  }
}
