.chatArea {
  color: #444444;
  border-radius: 20px;
  background: #ECF2F8;
  width: 50%;
  height: 100%;
  padding:1.5rem;
  display: flex;
  flex-flow: column;
  //justify-content: space-around;
  .chatAreaTop {
    display: flex;
    justify-content: space-between;
    top: 0;
    background: #ECF2F8;
    z-index: 1;
    padding-bottom: 17px;
    border-bottom: 2px solid #E8E8E8;
    margin-bottom: 32px;

    .targetContact {
      display: flex;
      align-items: center;
      .targetIcon {
        width: 50px;
        height: 49px;
        border-radius: 50px;
      }
      .targetName {
        font-size: 18px;
        color: #444444;
        font-weight: bold;
        margin-left: 18px;
      }
    }

    .buttonGrp {
      display: flex;
      align-items: center;


      button:hover {
        box-shadow: 0px 3px 1px -2px rgb(33 152 250 / 20%), 0px 2px 2px 0px rgb(33 152 250 / 14%), 0px 1px 5px 0px rgb(33 152 250 / 12%);
        background: #d4ebfe;
      }

      div {
        div {
          background: #DEF0FF;
          span {
            margin-left: 7px;
          }
        }

        div:hover {
          background: #d4ebfe;
        }

        fieldset {
          border: none;
        }
      }
    }
  }

  .chatBubbleContainer {
    position: relative;
    overflow-y: auto;
    height: 90%;
    .messageDate {
      font-size: 13px;
      color: #AAAAAA;
      text-align: center;
      margin-bottom: 32px;
    }
    .chatBubbleGroup {
      display: flex;
      flex-flow: column;
    }
  }

  .messageInputFieldContainer {
    margin-top: 20px;

    .messageInputField {
      background: white;
      border-radius: 26px;
      float: left;
      width: 100%;
      box-shadow: 0px 12px 40px #0000000F;
      padding: 20px 31px 17px 28px;

      .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 100%;

        fieldset {
          border: none;
        }

        label {
          background: white;
        }
      }

      input {
        padding: 23px;
      }

      .buttonGroup {
        display: flex;
        justify-content: space-between;

        .left {
          cursor: pointer;
          span {
            margin-right: 23px;
            img {

            }
          }
        }

        .right {
          cursor: pointer;
          span {
            margin-left: 15px;
            img {

            }
          }
        }
      }
    }
  }
}