.contactList {
  height: 1056px;
  width: 474px;
  padding: 37px 14px 20px 22px;
  display: flex;
  flex-flow: column;
  border: 1px solid;

  .contactContainerGrp {
    overflow-y: auto;
  }

  .filterArea {
    display: flex;
    flex-flow: column;
    .agentFilter {
      p {
        margin-left: 12px;
        font-size: 12px;
      }
      .agentGroup {
        margin-left: 10px;

        .pillContainer {
          span {
            width: 40px;
            height: 40px;
            margin-right: 7px;
            font-size: 16px;
            border-radius: 50px;;
          }
        }
      }
    }

    .tagFilter {
      margin-bottom: 14px;
      margin-top: 10px;
      p {
        margin-left: 12px;
        font-size: 12px;
      }
      .tagGroup {
        display: flex;
        justify-content: space-between;
      }
      .agentGroup {
        margin-left: 10px;

        .pillContainer {
          span {
            width: 40px;
            height: 40px;
            margin-right: 7px;
            font-size: 16px;
            border-radius: 50px;;
          }
        }
      }
    }
  }
}