.contactFileContainer {
  .mediaFileLinkContainer {
    .fileSubHeader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      margin-top: 35px;

      .fileAmount {
        color: #BFBFC0;
        font-size: 10px;
        font-weight: 500;
      }

      div {
        font-size: 12px;
        color: #444444;
      }

      span {
        font-size: 10px;
        font-weight: 500;
      }
    }

    .mediaContainer {
      .mediaGroup {
        display: flex;
        justify-content: space-between;
      }
    }

    .fileLinkContainer {
      .fileLinkGroup {
      }

      .normalButton {
        text-align: right;

        button {
          background: #D0E9FF;
          color: #2198FA;
          font-size: 12px;
          font-weight: 500;
          border-radius: 11px;
          box-shadow: none;
          padding: 1px 16px;
          text-transform: none;
        }
      }
    }
  }
}

