.contactList {
  height: 100%;
  //min-width: 180px;
  width: 25%;
  padding: .5rem;
  display: flex;
  flex-flow: column;
 .teamFilterSelect {
   div {
     div {
       div {
         justify-content: space-between;
         .smallPill {
           justify-content: center;
           margin-left: 0px;
         }
         div {

         }
       }
     }
   }
 }
  .contactContainerGrp {
    overflow: scroll;
  }

  .filterArea {
    display: flex;
    flex-flow: column;
    .agentFilter {
      p {
        margin-left: 12px;
        font-size: 12px;
      }
      .agentGroup {
        margin-left: 10px;

        .pillContainer {
          span {
            width: 40px;
            height: 40px;
            margin-right: 7px;
            font-size: 16px;
            border-radius: 50px;;
          }
        }
      }
    }

    .tagFilter {
      margin-bottom: 14px;
      margin-top: 10px;
      p {
        margin-left: 12px;
        font-size: 12px;
      }
      .tagGroup {
        display: flex;
        justify-content: space-between;
      }
      .agentGroup {
        margin-left: 10px;

        .pillContainer {
          span {
            width: 40px;
            height: 40px;
            margin-right: 7px;
            font-size: 16px;
            border-radius: 50px;;
          }
        }
      }
    }
  }
}