.contactInfoSet {
  padding: 1rem;
  color: #444444;
  overflow: scroll;
  width: 25%;
  height: 100%;
  max-width: 406px;
  //max-height: 966px;

  .extraInfo {
    border-bottom: 2px solid #F3F3F5;
    margin-top: 33px;
    margin-bottom: 20px;
    .infoGrp {
      line-height: 1;
      margin-bottom: 20px;
      .infoTitle {
        font-size: 12px;
      }
      .infoContent {
        font-weight: 600;
      }
    }
  }
  .assigneeAndTagsGroup {
    display: flex;
    flex-flow: column;
    .tagsArea {
        margin-bottom: 67px;
      .tagsTitle {
        margin-bottom: 5px;
        font-size: 12px;
      }
      .assigneeTagsGroup {
        .pillContainer {
          margin-right: 7px;
        }
      }
      .tagsGrp {
        .pillContainer {
          margin-right: 7px;
        }
      }
    }
  }
}