.contactContainer {
  border-radius: 10px;
  cursor: pointer;

  .contact {
    border-bottom: #F8F9FB 2px solid;
    padding: 13px 17px 28px 21px;

    #addToFavouriteBtn {
      display: flex;
      margin-left: auto;
      fill: #E5E7EC;
    }
    #fillStarColor {
      display: flex;
      margin-left: auto;
      fill: #E6B65F;
    }

    .contactInfoAndTime {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .contactInfoGrp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contactChatInfo {
          margin-left: 15px;

          .contactName {
            color: #444444;
            font-weight: 600;

          }
        }
      }

      .msgTimeGrp {
        display: flex;
        flex-flow: column;
        text-align: right;
        height: 48px;
        justify-content: space-around;
        margin-right: 18px;

        .lastOnlineTime {
          font-size: 10px;
          color: #444444;
        }

        .contactExtraTime {
          color: #FC736A;
          font-size: 12px;
        }
      }
    }
  }
}

.contactContainer:hover {
  background: #F8F9FB;
}