.customerProfileChannel {
  display: flex;
  flex-flow: column;
  height: 390px;
  width: 533px;
  border-radius: 10px;
  justify-content: space-between;
  color: #495057;
  .customerChannelContainer {
    .categoryHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;
      button {
        min-width: 34px;
        box-shadow: none;
        border-radius: 10px;
      }
      .categoryName {
        font-weight: bold;
      }
    }
    .channelGrp {
      display: flex;
      justify-content: space-between;
      margin-bottom: 44px;
      margin-top: 8px;

      .channelSet {
        .channelName {
          img {
            width: 37px;
            height: 37px;
            margin-right: 6px;
          }
        }
        .contactAddress {
          align-self: center;
        }
      }
    }
    .pillBadgeContainer {

    }
  }
  .customerTagsContainer {
    align-self: center;
    margin-top: 8px;
  }
}
