.customerProfileCategory {
  display: flex;
  flex-flow: column;
  height: 390px;
  width: 533px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 16px 30px 110px 37px;
  .customerCategoryContainer {
    .categoryHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;
      button {
        min-width: 34px;
        width: 34px;
        height: 34px;
        box-shadow: none;
        border-radius: 10px;
      }
      .categoryName {

      }

      button {

      }
    }
    .pillBadgeContainer {

    }
  }
}
