.customerProfileInfo {
  overflow-y: auto;
  background: white;
  width: 467px;
  border-radius: 10px;
  padding: 19.5px 48px 60px 58px;
  color: #444444;
  .threeDotsHoriMenuContainer {
    .threeDotsHoriMenu {
      text-align: right;
    }
  }
  .settingSets {
    display: flex;
    justify-content: right;
  }
  .contactBasicInfo {
    text-align: center;
    display: flex;
    flex-flow: column;
    .icon {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
    .customerName {
      font-weight: bold;
      font-size: 24px;
    }
  }
  .extraInfo {
    .infoGrp  {
      margin-bottom: 20px;
      .infoTitle {
        font-size: 12px;
      }
      .infoContect {
        font-weight: 600;
      }
    }
  }
}