.editColumnPopperContainer {
  .topSide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .columnGroup {

    .columnCheckboxContainer {
      display: flex;
      padding: 17px 45px 17px 21px;
      border-radius: 10px;
      .leftHandSide {
        display: flex;
        img {
          margin-right: 20px;
          cursor: grab;
        }
        span {

        }
      }
      .testCheckboxContainer {
        input {

        }
        .checkmark {
          top: 5px;
          left: 122px;
        }
      }
    }
    .columnCheckboxContainer:hover {
      background: #F8F9FB;
      box-shadow: 0px 3px 6px #00000029;
    }
  }
}