.fileLink {
  display: flex;
  margin-bottom: 24px;
  .iconButtonContainer {
    display: flex;
    align-items: center;
    button {
      height: 36px;
      width: 36px;
    }
  }
  button {
  }
  .fileLinkInfo {
    .fileLinkName{
      color: #444444;
      font-weight: 500;
    }
    div {
      color: #BFBFC0;
      font-weight: 500;
      font-size: 10px;
    }
  }
}