.importContactCenter {
  position: absolute;
  z-index: 9999;
  min-height: 70vh !important;
  height: 70vh !important;
  max-width: 100% !important;
}
.importContactContainer {
  width: 682px;
  height: 505px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 7px 20px #00000029;
  margin-right: 6%;
  padding: 27px 38px 43px 51px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .header {
    margin-bottom: 33px;
    display: flex;
    justify-content: space-between;
    span {
      align-self: end;
      color: #444444;
      font-size: 18px;
      font-weight: bold;
    }
  }
}