.textRadio {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 15px;

    input {
      visibility: hidden;
    }

    label {
      cursor: pointer;
      font-size: 13px;
      padding: .35em .65em;
      color: #A1A2A3;
    }

    label:hover {
      color: #2198FA;
    }

    label:active {
      font-weight: bold;
    }

    input:checked + label {
      color: #2198FA;
      font-weight: bold;
      border-radius: 5px;
      color: #2198FA;
      font-weight: bold;
      background: #DEF0FF;
    }
  }
}

.textRadio2 {
  list-style: none;
  padding: 0;
  display: flex;
  border-bottom: 2px solid #F3F3F5;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 0px;

  li {
    display: inline-block;

    input {
      visibility: hidden;
      display: none;
    }

    label {
      cursor: pointer;
      font-size: 13px;
      padding: .35em .65em;
      color: #A1A2A3;
      text-align: center;
      width: 100px;
    }

    label:hover {
      color: #2198FA;
    }

    label:active {
      font-weight: bold;
    }

    input:checked + label {
      color: #2198FA;
      font-weight: bold;
      color: #2198FA;
      font-weight: bold;
      border-bottom: 2px solid #2198FA;
    }
  }
}

.inputField {
  display: flex;
  flex-flow: column;
  margin-bottom: 62px;

  span {
    margin-left: 29px;
    font-size: 12px;
  }

  input {
    width: 283px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #E5E7EC;
    padding-left: 18px;
    padding-right: 13px;
    font-weight: 600;
  }

  input::placeholder {
    color: #444444;
    font-size: 16px;

  }

  input:focus-visible {
    outline: none;
  }
}

.logoInputContainer {
  display: flex;
  flex-flow: column;

  .requiredMessage {
    color: #E90000;
    margin-left: 40.5px;
    margin-top: 14px;
    margin-bottom: 7px;
    visibility: hidden;
  }
  .wrongPwd {
    visibility: visible;
  }
  .searchSVG {
    position: relative;
    border-radius: 10px;

    input {
      height: 2em;
      border-radius: 10px;
      opacity: 1;
      background: white;
    }

    input::placeholder {
      font-size: 16px;
      color: #8B8B8B;
    }

    input {
      width: 100%;
      border: white;
      font-size: 16px;
      padding: 25px 0px;
      padding-left: 100px;
      box-shadow: 0px 3px 6px #00000029;
      color: #444444;
      padding-right: 30px;
    }

    input:active {
      border: 1px solid #2385FC;
    }

    input:focus {
      outline: none;
      border: 1px solid #2385FC;
    }

    input:hover {
      box-shadow: 0px 3px 6px #00000029;
    }

    .wrongPwd {
      border: 1px solid #F45A56;
    }
  }

  .searchSVG:before {
    content: "";
    position: absolute;
    left: 3rem;
    top: 0;
    bottom: 0;
    width: 25px;
    cursor: text;
    opacity: 0.6;
  }

}
// xxxSVG classes below defined the SVG logo in the input field.
.emailSVG:before {
  background: url("../../public/icon-email.svg") center / contain no-repeat;
}
.passwordSVG:before {
  background: url("../../public/icon-lock.svg") center / contain no-repeat;
}

.logoInputContainer2 {
  display: flex;
  flex-flow: column;
  margin-bottom: 26px;

  .requiredMessage {
    color: #E90000;
    margin-left: 40.5px;
    margin-top: 14px;
    margin-bottom: 7px;
    visibility: hidden;
  }
  .searchSVG {
    position: relative;
    border-radius: 10px;

    input {
      height: 2em;
      border-radius: 10px;
      opacity: 1;
      background: #F8F9FB;
    }

    input::placeholder {
      font-size: 16px;
      color: #8B8B8B;
    }

    input {
      width: 100%;
      border: white;
      font-size: 16px;
      padding: 25px 0px;
      padding-left: 100px;
      box-shadow: 0px 3px 6px #00000029;
      color: #444444;
    }

    input:active {
      border: 1px solid #2385FC;
    }

    input:focus {
      outline: none;
      border: 1px solid #2385FC;
    }

    input:hover {
      box-shadow: 0px 3px 6px #00000029;
    }
  }

  .searchSVG:before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 18px;
    opacity: 0.5;
    cursor: text;
    background: url("../../public/icon-search2.png") center / contain no-repeat;
  }
}

.logoInputField {
  position: relative;

  .logoInput {
    border: none;
    border-radius: 10px;
    width: 100%;
    background: #F8F9FB;
    padding: 15.5px 100px 15.5px 24px;
    color: #8B8B8B;
    outline: none;

  }

  .logoInputField:focus-visible {
    outline: none;
  }

  .logoSubmit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border: none;
    background: #2198FA;
    color: white;
    border-radius: 10px;
    margin: auto;
    margin-right: 20px;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    height: 38px;
    padding: 8px 15px;
    margin-bottom: 8px;
  }

  .logoSubmit:hover {
    background: #50adf8;
  }

  .logoSubmit:active {
    font-weight: bold;
  }
}

.checkbox3 {
  margin-right: 30px;

  .checkboxContainer {
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;

    input {
      float: right;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      right: 0;
      height: 21px;
      width: 21px;
      border: 1.5px solid #E7E8EC;
      border-radius: 5px;
    }
  }
}

.LogoTextField {
  position: relative;
  margin-bottom: 5%;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;

  input {
    height: 2em;
    border-radius: 10px;
    opacity: 1;
  }

  input[type="text"] {
    width: 100%;
    height: 53px;
    border: white;
    font-size: 16px;
    padding-left: 5.5em;
    padding-bottom: 4px;
  }

  input:active {
    border: white;
    box-shadow: 0px 2px 6px #2198fa8c;
  }

  input:focus {
    outline: none;
    box-shadow: 0px 2px 6px #2198fa8c;
  }

  input:hover {
    box-shadow: 0px 2px 6px #2198fa8c;
  }
}

.LogoTextField:before {
  content: "";
  position: absolute;
  left: 3rem;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("../../public/icon-email.svg") center / contain no-repeat;
}

.logInputField {
  position: relative;

  .logInput {
    border: none;
    border-radius: 10px;
    width: 100%;
    background: white;
    box-shadow: 0px 7px 20px #00000014;
    padding: 15.5px 100px 15.5px 24px;
    margin-top: 40px;
    color: #AAAAAA;
    outline: none;
  }

  .logInputField:focus-visible {
    outline: none;
  }

  .logSubmit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border: none;
    background: #2198FA;
    color: white;
    border-radius: 10px;
    margin: auto;
    margin-right: 20px;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    height: 38px;
    padding: 8px 15px;
    margin-bottom: 8px;
  }

  .logSubmit:hover {
    background: #50adf8;
  }

  .logSubmit:active {
    font-weight: bold;
  }
}