.loginPanel {
  box-shadow: 0px 7px 20px #00000017;
  border-radius: 40px;
  padding: 53px 86.5px 62px 56px;
  height: 773px;
  width: 720px;

  .companyLogo {
    img {
      width: 88.26px;
      height: 78.47px;
    }
  }

  .mainContent {
    margin-left: 30px;

    .welcomeMessage {
      text-align: center;

      h1 {
        font-size: 45px;
        font-weight: bold;
        color: #2198FA;
        margin-bottom: 35px;
      }

      p {
        color: #8B8B8B;
        font-weight: 600;
      }
    }

    .inputSet {
      display: flex;
      flex-flow: column;
    }

    .passwordSupportSet {
      display: flex;
      justify-content: space-around;
      margin-bottom: 61px;
      margin-top: 31px;

      .rememberMe {
        display: flex;
        align-items: center;
        color: #7E7E7E;

        label {
          margin-right: 10px;
        }
      }

      .forgotPassword {
        color: #2198FA;
      }

      .forgotPassword:hover {
        color: #0077d8;
      }
    }

    .newContactButton {
      text-align: center;

      button {
        width: 50%;
        font-weight: 100;
        height: 50px;
        font-size: 18px;
      }
    }
  }
}