.noteContainer {
  display: flex;
  justify-content: space-between;
  .pillContainer {
    span {
      width: 40px;
      height: 40px;
      margin-right: 14px;
    }
  }
  .noteDetails {
    .nameAndTime {
      display: flex;
      justify-content: space-between;
      .name {
        font-weight: bold;
      }
      .time {
        color: #8B8B8B;
        font-size: 13px;
      }
    }
    .noteContent {
      color: #4E4E4E;
    }
  }

}