.pillContainer {
  float: left;
  .pill {
    display: inline-block;
    padding: 0.35em 0.95em;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 13px;
    background: #7E7E7E;
    max-height: 20px;
  }
  .longer {
    padding: 3.5px 18px;
  }
  .red {
    background: #FC736A;
  }

  .blue {
    background: #44A5FF;
  }

  .teamB {
    background: #F1B44C;
  }

  .brown {
    background: #E39841;
  }

  .teamA {
    background: #68C093;
  }

  .gray {
    background: #ACC5C7;
  }

  .purple {
    background: #D6DCF9;
    color: #5B67E8;
  }
  .teamC {
    background: #5B73E8;
  }

  .vip {
    background: #DEF0FF;
    color: #2198FA;
  }

  .newCustomer {
    background: #D6DCF9;
    color: #5B67E8;
  }

  .vvip {
    background: #FCD9D9;
    color: #FC736A;
  }

  .promotions {
    background: #FCECD2;
    color: #F1B44C;
  }

  .roundedPill {
    display: flex;
    justify-content: center;
    max-height: 37px;
    align-items: center;
    font-size: 17px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }

  .lightYellow {
    background: #FCECD2;
    color: #F1B44C;
  }
  .lightBlue {
    background: #D5ECFF;
    color: #2198FA;
  }
  .lightGreen {
    background: #CCF0E3;
    color: #34C38F;
  }
  .lightPurple {
    background: #D6DCF9;
    color: #5B73E8;
  }
  .lightRed {
    background: #FCD9D9;
    color: #E87B6F;
  }
  .add {
    background: #F5F6F8;
    color: #4E4E4E;
    max-height: 40px;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
  }
  .statusActive {
    background: #CCF0E3;
    border: #A6E5CE;
    color: #34C38F;
  }
  .statusPending {
    background: #FCECD2;
    border: #FADEB1;
    color: #F1B44C;
  }
  .size30 {
    width: 30px;
    height: 30px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 50px;
  }
  .vip2 {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 1;
    background: #DEF0FF;
    color: #2198FA;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    margin-bottom: 8px;
    max-height: 20px;
  }
}

.pillInIcon {
  position: absolute;
  top: -3px;
  left: -6px;
  height: 22.26px;
  border-radius: 50%;
  background-color: #2198FA;
  color: white;
  width: 22.26px;
  font-size: 12px;
  padding: 0.35em 0.65em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.smallPill {
  font-size: xx-small;
  margin-left: 13px;
  background-color: #2198FA;
  border-radius: 160px;
  text-align: left;
  color: #FFFFFF;
  opacity: 1;
  padding: 2.71px;
  height: 17px;
  width: 17px;
  align-items: center;
  display: flex;
  padding: 5px;
  text-align: center;
  justify-content: center;

}