.successPanel {
  box-shadow: 0px 7px 20px #00000017;
  border-radius: 40px;
  padding: 53px 86.5px 62px 56px;
  height: 773px;
  width: 720px;

  .companyLogo {
    img {
      width: 88.26px;
      height: 78.47px;
    }
  }

  .mainContent {
    margin-left: 30px;
    display: flex;
    flex-flow: column;
    height: 641px;
    justify-content: space-between;

    .welcomeMessage {
      text-align: center;
      margin-top: 150px;

      h1 {
        font-size: 45px;
        font-weight: bold;
        color: #2198FA;
        margin-bottom: 35px;
      }

      p {
        color: #8B8B8B;
        font-weight: 600;
      }
    }

    .inputSet {
      display: flex;
      flex-flow: column;

    }

    .newContactButton {
      text-align: center;
      margin-bottom: 140px;


      button {
        width: 50%;
        font-weight: 100;
        height: 50px;
        font-size: 18px;
      }
    }
  }
}