.contactTable {
  padding: 20px 17px;

  table {
    thead {
    }

    tr {
      min-width: 115px;
      border-bottom: 1px solid #F5F6F8;

      th {
        padding: 10px 0px;
        border-bottom: none;
      }

      td {
        border-bottom: none;
        padding: 20px 0px;
        padding-right: 10px;
      }

      .channel {
        display: flex;

        span {
          margin-right: 5px;
        }
      }

      .assignee {
        min-width: 110px;
      }
    }

    .headTr {
      border-bottom: 2px solid #F5F6F8;

      .trID {
        min-width: 100px;
      }
    }
  }
}

.broadcastTable {
  padding: 20px 10px;

  table {
    thead {
    }

    tr {
      min-width: 115px;
      border-bottom: 1px solid #F5F6F8;

      th {
        padding: 10px 0px;
        border-bottom: none;
      }

      td {
        border-bottom: none;
        padding: 20px 0px;
        padding-right: 10px;
      }

      .channel {
        display: flex;

        span {
          margin-right: 5px;
        }
      }

      .assignee {
        min-width: 110px;
      }
    }

    .headTr {
      border-bottom: 2px solid #F5F6F8;

      .trID {
        min-width: 100px;
      }
    }
  }
}

.normalTable {
  width: 100%;
  color: #495057;
  margin-bottom: 42px;

  .checkBox {
    display: none;
  }
  .fillCheckbox{
    background-color: #2198FA;
  }

  tr {
    height: 74px;
    border-bottom: 2px #F5F6F8 solid;

    th {
      padding-left: 27px;
      font-size: 14px;
      font-weight: bold;
    }

    td {
      padding-left: 27px;
      font-size: 16px;

      .nameGroup {
        display: flex;
        align-items: center;

        div {
          margin-right: 12px;
        }
      }

      .channel {
        img {
          width: 25px;
          height: 25px;
        }
      }

      .tagsGroup {
        .pillContainer {
          span {
            padding-left: 18px;
            padding-right: 18px;
            margin-right: 10px;
          }
        }
      }
      .assigneeGroup {
        .pillContainer {
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}