.admin-layout {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 100vh;
  .leftMenu {

  }
  .rightContent {
    width: 100%;
    .contactsContainer {
      padding: 48px 33px 20px 34px;
      max-height: 100vh;
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      .topBar {
        display: flex;
        justify-content: space-between;

        .searchBar {
          .logoInputContainer2 {
          }
          .searchSVG {
            input {
              margin-bottom: 0px;
              width: 421px;
              box-shadow: none;
              padding: 23.5px 0px;
              padding-left: 50px;
              padding-right: 25px;
              border-radius: 15px;
            }
          }
        }

        .buttonGrp {
          display: flex;
          width: 500px;
          justify-content: flex-end;
          align-items: self-end;
          margin-bottom: 30px;

          button {
            max-height: 36px;
            border-radius: 10px;
            text-transform: unset;


            img {
              margin-right: 6px;
              margin-bottom: 3px;
            }
          }

          button:hover {

          }

          .newContactButton {
            margin-left: 22px;
          }
        }
      }

      .navbarPurple {
        .selectContainer {

        }
      }
    }
  }
  .tagsButtonGroup {
    svg {
      cursor: pointer;
    }
  }
}

