.integrations-layout {
  background: #F7FBFF;
  height: 100vh;
  width: 100vw;
  display: flex;
  .cardChannelGroupContainer {
    display: flex;
    flex-flow: column;
    padding: 61.5px 49px 28px 50px;
    .cardChannelGroup {
      h1 {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 33px;
      }
    }
    .cardContainer {
      position: relative;
      float: left;
      //justify-content: center;
    }
  }
}