.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.layout-sidebar {
  flex-direction: column;
  max-width: 232px;
  height: 100%;
  border-right: 2px solid #F1F1F1;

  .brand-logo {
    display: flex;
    min-height: 180px;
    max-height: 360px;
    height: 20%;

    img {
      max-width: 79px;
      max-height: 50px;
      margin: auto;
    }

    justify-content: center;
    align-items: baseline;
    padding: 16px;
  }

  .active {
    border-radius: 3px;
    opacity: 1;
    background-color: #D0E9FF;
    color: #2198FA;

  }

  .nav-items {
    margin-top: 1rem;
  }

  .nav-item {
    padding: 1rem;
    text-align: center;
  }
}

.navbar {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #F3F3F5;
  opacity: 1;
}

.side-item {
  padding: .5rem ;
  padding: 0 .5rem ;
  cursor: pointer;
  &:hover,&:focus{
    transform: translate(-2.5px,0);
    transition: all 250ms ease-in-out;
    color:#2198FA;
    text-decoration: underline 2px;
    text-underline-offset: 0.4em;

  }
}

.active-side-item {
  padding: 0 .5rem;
  border-right:3px solid #2198FA;
}

.page-title {
  flex: 1;
  color: #2198FA;
  font-size: 2rem;
  align-items: center;
  vertical-align: center;
}

.selectStatusOnline {
  margin: .5rem;
  background: #23BF9B 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  padding: 1px;
}

.selectStatusOffline {
  margin: .5rem;
  background: var(--unnamed-color-74788d) 0% 0% no-repeat padding-box;
  background: #74788D 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  padding: 1px;
}
.user-session {
  display: inline;


  .user-dropdown {
    flex: 1;
    margin-left: auto;
    position: relative;
    display: inline-block;
  }

  .user-menu {
    display: inline-block;
    position: absolute;
    vertical-align: center;
    justify-content: center;
    top: 45px;
    z-index: 1;
    transition: opacity 289ms;
  }

  .user-menuHide {
    opacity: 0;
    margin-left: 400px;
  }

}

.notification {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  background-color: white;

  .badge {
    position: absolute;
    font-size: xx-small;
    left: 2rem;
    top: -.25rem;
    background-color: #F46A6A;
    border-radius: 160px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 15px;
  }
}

.notification-menu {
  display: inline-block;
  position: absolute;
  vertical-align: center;
  justify-content: center;
  top: 45px;
  left: -15px;
  z-index: 1;
  opacity: 1;
  transition: opacity 289ms;
  transform-origin: 125px 0px;

  .dropdown-item {
    height: 34px;
  }
}

.notificationHide {
  opacity: 0;
  margin-left: 400px;
}

.dropdown-btn {
  background: #F5F6F8 no-repeat padding-box;
  border-radius: 19px;
  opacity: 1;
  padding: 0.5rem 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.main-content{
  height: 100%;
}

.layout-main {
  flex-direction: column;
  padding: 0rem;
  margin: 0;
  display: flex;
  width: 95%;
  max-width: 95vw;
  height: 100%;
  overflow: scroll;
}

.main-content{
  overflow: scroll;
  width: 100%;
  max-width: 95vw;
}

.notificationDropdownSet {
  margin-right: 40px;
  margin-top: 2px;
  .badge {
    position: absolute;
    font-size: xx-small;
    margin-left: 13px;
    background-color: #F46A6A;
    border-radius: 160px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
  }
  .notificationDropdown {
    div {
      padding: 0px;
      margin-top: 1px;
      div {
        padding: 9px !important;
        background: url("../../public/bell.svg") center / contain no-repeat;
        font-size: 0px;
        div {
        }
      }

      svg {
        display: none;
      }


      fieldset {
        border: none;
      }
    }
  }
}
.loggingStatusDropdown {
  div {

    div {
      div {
        display: flex;
      }
    }

    svg {
      display: none;
    }


    fieldset {
      border: none;
    }
  }
}