.live_chat-layout{
  display: flex;
  flex-direction: row;
  opacity: 1;
  overflow: scroll;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.chat-filter-input{
  background: var(--unnamed-color-f8f9fb) 0% 0% no-repeat padding-box;
  background: #F8F9FB 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
}