.login-layout{
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}




